body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#uploadForm {
    margin-bottom: 20px;
}

#fileList {
    list-style: none;
    padding: 0;
}

#fileList a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.2s;
}

#fileList a:hover {
    color: #0056b3;
}

